 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
									<p><a href="https://github.com/roboscala/sbt-robovm">sbt-robovm</a> is a plugin for the Scala build tool that aims to make it as simple as possible to build Scala applications for iOS and OSX using <a href="http://www.robovm.com/">RoboVM</a>, which provides a compiler and interfaces to Objective-C code and APIs.</p>
                </div>
                <div class="col-lg-4">
									<p>RoboVM includes many samples to help you get up and running, and <a href="https://github.com/roboscala/roboscala-samples">we provide</a> some of those examples ported to Scala. On top of that, you can find tutorials below on various subjects specifc to working with our tools.</p>
                </div>
            </div>
        </div>
    </section>
